.progress-bar {
	position: relative;
	height: 40px;
	width: 700px;
	border-radius: 50px;
	border: 1px solid #333;
}

.filler {
	background: #1DA598;
	height: 100%;
	border-radius: inherit;
	transition: width .2s ease-in;
}

.ui.container.plant-container {
	display: flex;
	flex-flow: row wrap;
}

.ui.image {
	height: 50%;
}

.ui.card {
	height: 480px;
	width: 250px !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	margin: 0;
}

.ui.card>.content {
	text-align: center;
} 

.ui.card>.content>.header {
	font-size: 15px !important;
}

.ui.card .meta, .likes, .comments {
	font-size: 12px;
}

#watered-date {
	font-size: 10px;
}

.ui.card .ui.button {
	font-size: 12px !important;
	letter-spacing: 3px;
	border-radius: 50px;
}

.ui.violet.button {
	margin: 5px;
}

.ui.teal.button {
	margin: 5px;
}
