.progress-bar {
	position: relative;
	height: 20px;
	width: 350px;
	border-radius: 50px;
	border: 1px solid #333;
}

.filler {
	background: #1DA598;
	height: 100%;
	border-radius: inherit;
	transition: width .2s ease-in;
}

.plant-container {
	padding: 1em;
	display: flex;
	justify-content: center;
}

.ui.image {
	max-height: 230px;
}

.ui.card {
	height: 400px;
	max-width: 230px !important;
	overflow-y: scroll;
	display: flex;
	justify-content: center;
}

::-webkit-scrollbar { 
	width: 0 !important; 
}

.likes {
	float: left;
}

.comments {
	float: right;
}