.App {
	background: url(./images/mainbg.jpg) center center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open-page {
	background: url(./images/plants.jpg) no-repeat center center;
	background-size: cover;
	width: 101%;
	height: 101.5vh;
	justify-content: center;
	align-content: center;
}

.title {
	position: absolute;
	top: 10%;
	font-family: 'Bungee Inline', cursive;
	font-size: 42px;
	color: #00601f;
}

.tagline {
	position: absolute;
	top: 12.5%;
	font-style: italic;
	color: #00601f;
}

.open-page-btns {
	position: absolute;
	top: 20%;
}

.ui.inverted.green.button {
	letter-spacing: 4px;
	margin-right: 16px;
}

.ui.green.button {
	letter-spacing: 4px;
	margin-left: 16px;
}

.ui.container.main-container{
	background-color: white;
	border: solid 1px;
	padding: 1em;
	margin-top: 5em;
	margin-bottom: 7em;
	height: 85vh;
	box-sizing: border-box;
	border-radius: 45px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.greeting {
	font-family: 'Bungee Inline', cursive;
	font-size: 25px;
	color: #00601f;
}

.points {
	font-style: italic;
}