.App {
	background: url(./images/mainbg.jpg) center center;
  display: flex;
  flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.open-page {
	background: url(./images/plants.jpg) no-repeat center center;
	background-size: cover;
	width: 101%;
	height: 101.5vh;
	justify-content: center;
}

.button-page-cont {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 15%;
	flex-direction: column;
	align-items: center;
}

.title {
	font-family: 'Bungee Inline', cursive;
	font-size: 42px;
	color: #00601f;
}

.tagline {
	position: absolute;
	top: 40%;
	font-style: italic;
	color: #00601f;
}

.open-page-btns {
	position: absolute;
	top: 140%;
}

.ui.inverted.green.button {
	letter-spacing: 4px;
	margin-right: 16px;
}

.ui.green.button {
	letter-spacing: 4px;
	margin-left: 16px;
}

.ui.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 15%;
	width: 800px;
}

input {
	text-align: center;
}

.ui.form .title {
	font-size: 30px;
}

#back-btn {
	letter-spacing: 2px;
	margin-top: 4em;
	margin-left: -73em;
}


/* start main container css */

.ui.menu {
	position: absolute;
	top: 2.5%;
	width:100%;
}

.ui.container.main-container {
	overflow-y: scroll;
	border: solid 1px;
	margin-top: 8em;
	margin-bottom: 7em;
	height: 84vh;
	width: 70%;
	border-radius: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(238, 255, 255);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.profile-info {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.greeting {
	font-family: 'Bungee Inline', cursive;
	font-size: 25px;
	color: #00601f;
}

.points {
	font-style: italic;
}